<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>Triangle</key>
		<dict>
			<key>name</key>
			<string>Triangle</string>
			<key>Height</key>
			<string>20.0</string>
			<key>Base</key>
			<string>20.0</string>
		</dict>
		<key>Rectangle</key>
		<dict>
			<key>name</key>
			<string>Rectangle</string>
			<key>Height</key>
			<string>20.0</string>
			<key>Width</key>
			<string>20.0</string>
		</dict>
	</dict>
</dict>
</plist>
